//@import "fonts.scss";
@import "reset.scss";

//@import url(../css/reset.min.css);
//@import url(../css/fonts.min.css);


$font-family: "Inter", sans-serif;
$colorNavText: white;
$colorIntroText: white;
$colorTextAbout: white;
$colorTestimonials: white;
$colorLocation: white;
$colorNewslatter: white;
$colorFooter: white ;


/* header
=====================================*/

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 40px 0 40px;
    }
}



.nav {
    
    &__list {
       display: flex;
       
       list-style-type: none;
       
    }

    &__item {
       margin-right: 40px;
       text-transform: uppercase;
       text-decoration: none;
       font-family: $font-family;
       font-size: 16px;
       color: $colorNavText;
       
    }
}

/*===================================================*/ 

/* intro
==================================================*/ 

.intro {
   height: 100vh;
   background-image: url("../img/introBG.jpg") ;
   background-repeat:no-repeat;
   background-size: cover;
   align-items: center;
   text-align: center;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $colorIntroText;
    font-family: "Inter";
    padding-top: 280px;
    

    .logo {
        padding-bottom: 33px;
    }

    .main__title {
        padding-bottom: 24px ;
        font-size: 96px;
        font-weight: 700px;
    }

    .main__description {
        //padding-bottom: 48px ;
        font-size: 32px;
        padding-bottom: 48px;
    }

   
}

/* Button style
========================================*/ 

.button {
    display: inline-block;
    width:200px;
    height: 50px ;
    background-color: transparent;
    cursor: pointer;
    color: $colorTextAbout;
    border: solid 2px rgb(255, 255, 255);
    text-transform: uppercase;
    transition: all 2s;
    &:hover {
        background-color: black;
    }
}

/*=================================================*/ 

/* Benefits
============================================*/

.benefits {
    display: flex;
    justify-content: space-between;
    background-image: url("../img/bgbg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 144px 0;
    
    .leftlist {
        list-style-type:none;
    }

    .rightlist {
        list-style-type:none;
    }
}

.itemlf {
    padding-bottom: 48px;

    &-content {
        width: 272px;
        position: relative;
        text-align: right;
        font-family: $font-family;

        &--one::after {
           content: url("../img/indoor.png");
           position: absolute;
           right: -71px;
           top: 0;
           left: auto;
        }

        &--two::after {
            content: url("../img/petfriendly.png");
            position: absolute;
            right: -71px;
            top: 0;
            left: auto;
        }
        &--three::after {
            content: url("../img/tekaaway.png");
            position: absolute;
            right: -71px;
            top: 0;
            left: auto;
        }
    }
    
    &-content__title {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
    }

    &-content__description  {
        font-size: 14px;
        line-height: 24px;
    }
}

.itemrl {
    padding-bottom: 48px;
    
    &-content {
        width: 272px;
        position: relative;
        text-align: left;
        font-family: $font-family;

        &--one::before {
            content: url("../img/wheelchair.png");
            position: absolute;
            right: auto;
            top: 0;
            left: -80px;
        }

        &--two::before {
            content: url("../img/veganoptions.png");
            position: absolute;
            right: auto;
            top: 0;
            left: -80px;
        }

        &--three::before {
            content: url("../img/cyclistfriendly.png");
            position: absolute;
            right: auto;
            top: 0;
            left: -80px ;
        }
    }

    &-content__title {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 24px;
    }
    
    &-content__description {
        font-size: 14px;
        line-height: 24px;
    }

}
/*=======================================================*/ 


/* About 
=======================================================*/ 

.about {
    height: 432px;
    background-image: url("../img/about.png");
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $colorTextAbout;
        padding-top: 90px;
    }

    &__description {
        padding-bottom: 48px;
    }


}

/*===================================*/ 

/* Title and subtitle section
================================================*/ 

.section__title {
    font-size: 40px;
    padding-bottom: 24px;
    &::after {
     content: '';
     display: block;
     border-bottom: 2px solid ;
     color: #ffffffff ;
     width: 189px;
     padding-top: 24px;
     margin: 0 auto;
    }
}

.section__subtitle {
    font-size: 16px;
}

/*===================================================*/ 

/* menu
=========================================================*/ 

.menu {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #EEEEEE;

    &__title {
        margin-top: 96px;
        &::after {
            color: black ;
        }
    }
    
}

.tabs {
    margin: 48px 0 100px 0;

    &-buttons {
        display: flex;
        justify-content: center;
    }
    
    &-buttons__food {
        display: inline-block;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-right: 20px;
    }

    &-buttons__drinks {
        display: inline-block;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: 20px;
    }

    &-content__food {
        display: flex;
        flex-wrap: wrap;
    }

    &-content__item {
        display: flex;
        justify-content: space-around;
        flex: 1 1 500px;
        margin: 24px;
        align-items: center;
        text-align: left;
    }
    
    &-content__inner {
        display: flex;
        flex-direction: column;

    }

    &-content__title {
        font-size: 16px;
    }

    &-content__description {
        font-size: 12px;
        line-height: 24px;
    }

    &-content__drinks {
        display: none;

    }

}

/*==================================================*/ 

/* Testimonials block
======================================================*/ 

.testimonials {
    width: 100%;
    background-image: url("../img/testimonialsBG.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;

   &__title {
    color: $colorTestimonials;
    padding: 96px 0;
   }
}

.swiper {
    width: 100%;
    height: 100%;
    
    &-slide {
        text-align: center;
        align-content: center;
        //
        height: auto;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    &-slide__content {
        font-size: 16px;
        width: 100%;
        height: 200px;
        max-width: 735px;
        color: $colorTestimonials;
        line-height: 48px;
    }

    &-pagination-bullet-active {
        background: $colorTestimonials;
    }
        
    /*&-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */ 
}

/* ==================================================*/ 

/* News
======================================================*/ 

.news {
    background-color: #EEEEEE;
    

    &__title {
        color: black;
        padding-top: 97px;
        &::after {
            content: '';
            display: block;
            border-bottom: 2px solid ;
            color: #444444;
            width: 189px;
            padding-top: 24px;
            margin: 0 auto;
        }
    }

    &__description {
        color: black;
        line-height: 24px;
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(3, 356px);
        @media (max-width: 1150px){
            grid-template-columns: repeat(1, 356px);
        }
        gap: 32px;
        //align-items: center;
        justify-content: center;
        //align-content: center;
        list-style-type: none;

    }



    &-content__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        cursor: pointer;
        transition: 1.5s ;
        margin: 0;
        &:hover {
            transform: scale(1.1) ;
        }
    }

    &-content__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
        width: 352px;
        text-align: left;
        padding-top: 24px;
    }
    
    &-content__title {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }

    &-content__description {
        font-size: 16px;
        line-height: 24px;
    }

    &-content__per {
        display: inline-block;
        text-decoration: none;
        color: black;
        margin-top: 20px;
        text-align: left;
    }
  
}

/*=====================================================*/ 

/* Locations block
============================================================*/ 

.location {
   width: 100%;
   height: auto;
   position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: url("../img/locationBG.jpg") center no-repeat;
        background-size: cover;
        filter: blur(10px);
    }
    

    &__title {
       color: $colorLocation;
       padding-top: 20px;
       &::after {
        content: '';
        display: block;
        border-bottom: 2px solid ;
        color: white;
        width: 189px;
        padding-top: 24px;
        margin: 0 auto;
        }
    }

    &__description {
        color: $colorLocation;
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(246px, 246px));
        column-gap: 187px;
        row-gap: 30px;
        margin-top: 48px;
        align-items: center;
        justify-content: center;
        align-content: center;
        list-style-type: none;
    }

    &-content__item {
        width: 100%;
        height: 100%;
        color: $colorLocation;
    }

    &-content__title {
        padding: 24px 0;
    }

    &-content__inner {
        line-height: 24px;
    }
}

/*=========================================================*/ 

/* Newslatter
============================================================*/ 

.newslatter {
    background-color: black;

    &__title {
        color: $colorNewslatter;
        padding-top: 96px;
        &::after {
            color: white;
            }
    }
    
    &__description {
        color: $colorNewslatter;
    }
    
    &-form {
        padding: 30px 0;
        //display: flex;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    &-form__input {
        width: 25%;
        height: 50px;
        outline: solid $colorNewslatter 1px;
        background-color: black;
        color: $colorNewslatter;
        font-size: 16px;
        line-height: 48px;
        //border: linear $colorNewslatter 3px;
    }

    &-form__btn {
        width: 100px;
        height: 50px;
        margin-left: 25px;
        cursor: pointer;
        outline: solid $colorNewslatter 1px;
        color: $colorNewslatter;
        text-transform: uppercase;
        background-color: black;
        border: $colorNewslatter;
        &:hover {
            background-color: white;
            color: black;
        }
    }

}

/*===================================================*/ 


/* Footer
=========================================================*/ 

.footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: $colorFooter;
    padding: 48px 0;

    &-list {
        display: flex;
        justify-content: space-between;
        
        list-style-type: none;
        
    }

    &-list__item {
        margin-right: 46px;
        
        cursor: pointer;

        &:last-child{
            margin-right: 0;
        }

        &:hover {
            font-size: 20px;
        }
    }

    &-list__inner {
        text-decoration: none;
        color: $colorFooter;
    }

    &-social {
        display: flex;
        list-style-type: none;
    }

    &-social__item {
        margin-right: 34px;

        &:last-child {
            margin-right: 0;

        }
    }
    
    &-social__inner {
        width: 80px;
        height: 80px;
        background-color: $colorFooter;
    }

    &__svg {
      fill: black;
    }
    
}